.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    transition: all 0.4s ease;

    box-sizing: border-box;
}

.navbar.active {
    background: #0f172a;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.navbar.transparent {
    background: rgba(15, 23, 42, 0.35);
    backdrop-filter: blur(15px);
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.menu-icon {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.theme-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.theme-btn:hover {
    color: #3b82f6;
    transform: rotate(20deg);
}

.active-link {
    color: #2563eb !important;
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #2563eb;
}

@media (max-width: 768px) {

    .navbar {
        padding: 15px 20px;
        background: #0f172a !important;
    }

    .logo {
        font-size: 22px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;

        position: absolute;

        top: 100%;
        right: 0;

        width: 200px;

        background: #0f172a;

        padding: 20px;

        gap: 20px;

        border-radius: 0 0 0 10px;

        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
}