.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: #2563eb;
    color: white;

    font-size: 22px;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;

    transform: translateY(20px);

    transition: all 0.3s ease;

    z-index: 999;

    box-shadow: 0 5px 20px rgba(37,99,235,0.3);
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.back-to-top:hover {
    transform: translateY(-8px) scale(1.1);

    box-shadow:
        0 0 20px rgba(37,99,235,0.5),
        0 0 40px rgba(37,99,235,0.3);
}

@media (max-width: 768px) {

    .back-to-top {
        width: 45px;
        height: 45px;

        right: 20px;
        bottom: 20px;
    }
}